<?xml version="1.0"?>
<robot name="robot">
  
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="red">
    <color rgba="0.7 0 0 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>  
  
  <material name="brown">
    <color rgba="0.163 0.155 0.120 1"/>
  </material>

  <material name="oak">
    <color rgba="0.84375 0.70703125 0.53515625 1"/>
  </material>

  <!--define initial values-->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="upper_cylinder_upper_motor_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="column_outside_column_inside_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="upper_motor_box_arm_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">  
      <parameters>$(find gazebo_simulation)/config/controller_manager.yaml</parameters>
    </plugin>
    <plugin name="gazebo_ros_force_system" filename="libgazebo_ros_force_system.so">
    </plugin>
  </gazebo>

  <!-- The Robot Description starts here:-->

  <link name="robot_base" />

  <joint name = "map_frame_joint" type = "fixed">
    <origin xyz="0.35575 -0.180 0"/>
    <parent link = "robot_base" />
    <child link = "frame_link" />
  </joint> 

  <!--Base frame-->
  <link name="frame_link">
    <visual>
      <origin xyz="0 0 0.040" />
      <geometry>
        <box size="1.395 0.645 0.080"/>      
      </geometry>
      <material name="brown"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.040" />
      <geometry>
        <box size="1.395 0.645 0.080"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="100.0"/>
      <origin xyz="0 0 0.040" />
      <inertia ixx="3.524" iyy="16.264" izz="19.789" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  
  <joint name = "frame_lower_motor_box_joint" type = "fixed">
    <origin xyz="-0.35575 0.180 0.080"/>
    <parent link = "frame_link" />
    <child link = "lower_motor_box_link" />
  </joint> 

  <!--lower motor box-->
  <link name="lower_motor_box_link">
    <visual>
      <origin xyz="0 0 0.110"/>
      <geometry>
        <box size="0.2165 0.218 0.220"/>      
      </geometry>
      <material name="brown"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.110"/>
      <geometry>
        <box size="0.2165 0.218 0.220"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="28.0"/>
      <origin xyz="0 0 0.110" />
      <inertia ixx="0.196" iyy="0.194" izz="0.193" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "lower_motor_box_column_outside_joint" type = "fixed">
    <origin xyz="0 0 0.220"/>
    <parent link = "lower_motor_box_link" />
    <child link = "column_outside_link" />
  </joint> 

    <!--lifting_column_outside-->
  <link name="column_outside_link">
    <visual>
      <origin xyz="0.065 0 0.320"/>
      <geometry>
        <box size="0.010 0.202 0.640"/>      
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.065 0 0.320"/>
      <geometry>
        <box size="0.010 0.202 0.640"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0.065 0 0.320"/>
      <inertia ixx="0.313" iyy="0.307" izz="0.031" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "column_outside_Bedcenter_joint" type = "fixed">
    <origin xyz="0.774 0 0.120"/>
    <parent link = "column_outside_link" />
    <child link = "Bed_center_link" />
  </joint> 

    <!--Bedcenter-->
  <link name="Bed_center_link">
    <visual>
      <origin xyz="0.0 0 0.085"/>
      <geometry>
        <box size="0.900 2.004 0.170"/>      
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.0 0 0.085"/>
      <geometry>
        <box size="0.900 2.004 0.170"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0"/>
      <origin xyz="0.0 0 0.085"/>
      <inertia ixx="0.313" iyy="0.307" izz="0.031" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "column_outside_column_inside_joint" type = "prismatic">
    <origin xyz="0 0 0.005"/>
    <parent link = "column_outside_link" />
    <child link = "column_inside_link" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.5" friction="1.1"/>
    <limit lower="0" upper="50.0" velocity="100" effort="5000"/> <!--only a lower limit and a realistically unachievable upper limit-->
  </joint> 

  <!--lifting_column_inside-->
  <link name="column_inside_link">
    <visual>
      <origin xyz="0 0 0.320"/>
      <geometry>
        <box size="0.120 0.177 0.640"/>      
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.320"/>
      <geometry>
        <box size="0.120 0.177 0.640"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="9.0"/>
      <origin xyz="0 0 0.320"/>
      <inertia ixx="0.317" iyy="0.308" izz="0.047" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "column_inside_joint" type = "fixed">
    <origin xyz="0 0 0.650"/>
    <parent link = "column_inside_link" />
    <child link = "middle_motor_box_link" />
  </joint> 

  <!--middle motor box-->
  <link name="middle_motor_box_link">
    <visual>
      <origin xyz="0 0 0.085"/>
      <geometry>
        <box size="0.218 0.218 0.170"/>      
      </geometry>
      <material name="brown"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.085"/>
      <geometry>
        <box size="0.218 0.218 0.170"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="19.0"/>
      <origin xyz="0 0 0.085"/>
      <inertia ixx="0.092" iyy="0.092" izz="0.150" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "middle_box_upper_cylinder_joint" type = "fixed">
    <origin xyz="0 0 0.170"/>
    <parent link = "middle_motor_box_link" />
    <child link = "upper_cylinder_link" />
  </joint> 

  <!--cylinder connecting the upper boxes-->
  <link name="upper_cylinder_link">
    <visual>
      <origin xyz="0 0 0.020"/>
      <geometry>
        <cylinder length="0.040" radius="0.110"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.020"/>
      <geometry>
        <cylinder length="0.040" radius="0.110"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0.020"/>
      <inertia ixx="0.007" iyy="0.007" izz="0.006" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "upper_cylinder_upper_motor_joint" type = "continuous"> <!--coninuous = revolute with no limits -->
    <origin xyz="0 0 0.040"/>
    <parent link = "upper_cylinder_link" />
    <child link = "upper_motor_box_link" />
    <dynamics damping="0.5" friction="0.1"/>
    <axis xyz="0 0 1" />
    <!-- <limit lower="-3.141" upper="1.5708" velocity="1000" effort="500000"/> -->
  </joint> 

  <!--upper motor box-->
  <link name="upper_motor_box_link">
    <visual>
      <origin xyz="-0.11575 0 0.08475"/>
      <geometry>
        <box size="0.4215 0.223 0.1695"/>      
      </geometry>
      <material name="brown"/>
    </visual>
    <collision>
      <origin xyz="-0.11575 0 0.08475"/>
      <geometry>
        <box size="0.4215 0.223 0.1695"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="22.0"/>
      <origin xyz="-0.11575 0 0.08475"/>
      <inertia ixx="0.161" iyy="0.677" izz="0.784" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="upper_motor_box_arm_joint" type="continuous"> <!--coninuous = revolute with no limits -->
    <parent link="upper_motor_box_link"/>
    <child link="arm_first_link"/>
    <origin xyz="0.095 0 0.08475" rpy="0 -1.57079 3.1415926"/>
    <dynamics damping="0.5" friction="0.1"/>
    <axis xyz="0 0 1" rpy="0 0 0"/>
    <!-- <limit lower="-1.5708" upper="0" velocity="1000" effort="5000"/>-->
  </joint>

  <!--first arm link-->
  <link name="arm_first_link">
    <visual>
      <origin xyz="0 0 0.074" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.148" radius="0.015"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.074" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.148" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.5"/>
      <origin xyz="0 0 0.074" rpy="0 0 0" />
      <inertia ixx="0.003" iyy="0.003" izz="0.0001688" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="arm_first_joint" type="fixed">
    <parent link="arm_first_link"/>
    <child link="arm_second_link"/>
    <origin xyz="0 0 0.148" rpy="0 -1.5708 0"/>
  </joint>

  <link name="arm_second_link">
    <visual>
      <origin xyz="0 0 0.153" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.306" radius="0.015"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.153" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.306" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0.153" rpy="0 0 0"/>
      <inertia ixx="0.004" iyy="0.004" izz="0.0000563" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="arm_second_joint" type="fixed">
    <parent link="arm_second_link"/>
    <child link="arm_third_link"/>
    <origin xyz="0 0 0.314" rpy="0 1.5708 0"/>
  </joint>

  <link name="arm_third_link">
    <visual>
      <origin xyz="0 0 0.419"/>
      <geometry>
        <cylinder length="0.838" radius="0.015"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.419"/>
      <geometry>
        <cylinder length="0.838" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <origin xyz="0 0 0.419"/>
      <inertia ixx="0.146" iyy="0.146" izz="0.0002813" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  
  <joint name="robot_Body_joint" type="continuous">
    <parent link="arm_third_link"/>
    <child link="BodyArms_link"/>
    <origin xyz="0.015 0 0.419" rpy="0 1.5708 0"/>
    <dynamics damping="0.5" friction="0.1"/>
    <axis xyz="1 0 0" />
  </joint>

  <!--BodyArms-->
  <link name="BodyArms_link">
    <visual>
      <origin xyz="0 0.100 0.005"/>
      <geometry>
        <box size="0.400 0.200 0.040"/>      
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0.100 0.005"/>
      <geometry>
        <box size="0.400 0.200 0.040"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="9.0"/>
      <origin xyz="0 0.100 0.005"/>
      <inertia ixx="0.317" iyy="0.308" izz="0.047" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name = "BodyArms_UpperBody_joint" type = "fixed">
    <origin xyz="0 0.200 -0.100"/>
    <parent link = "BodyArms_link" />
    <child link = "UpperBody_link" />
  </joint> 

  <link name="UpperBody_link">
    <visual>
      <origin xyz="0 0 0.20"/>
      <geometry>
        <box size="0.400 0.100 0.550"/>      
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.20"/>
      <geometry>
        <box size="0.400 0.100 0.550"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="40.0"/>
      <origin xyz="0 0 0.20"/>
      <inertia ixx="0.317" iyy="0.308" izz="0.047" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="Upper_Lower_Body_joint" type="revolute">
    <parent link="UpperBody_link"/>
    <child link="LowerBody_link"/>
    <origin xyz="0 0 0.490" rpy="0 0 0"/>
    <dynamics damping="0.5" friction="0.1"/>
    <axis xyz="1 0 0" />
    <limit lower="-0.5708" upper="3.1415" velocity="1000" effort="500000"/> 
  </joint>

  <link name="LowerBody_link">
    <visual>
      <origin xyz="0 0 0.275"/>
      <geometry>
        <box size="0.300 0.080 0.550"/>      
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.275"/>
      <geometry>
        <box size="0.300 0.080 0.550"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0.275"/>
      <inertia ixx="0.317" iyy="0.308" izz="0.047" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="end_effector_joint" type="fixed">
    <parent link="arm_third_link"/>
    <child link="end_effector"/>
    <origin xyz="0 0 0.838" rpy="0 -1.5708 0"/>
  </joint>

  <link name="end_effector" />

  <!-- Gazebo material references -->
  <!-- Grey links (frame, lower motor boxes) -->
  <gazebo reference="frame_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="lower_motor_box_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="middle_motor_box_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="upper_motor_box_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- White links (columns, cylinder) -->
  <gazebo reference="column_outside_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="BodyArms_link">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="UpperBody_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="Bed_center_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="column_inside_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="upper_cylinder_link">
    <material>Gazebo/White</material>
  </gazebo>

  <!-- Blue links (arm segments) -->
  <gazebo reference="arm_first_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="arm_second_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="arm_third_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!--older tries

  <joint name = "map_Bed_joint" type = "prismatic">
    <origin xyz="0 0 0"/>
    <parent link = "map" />
    <child link = "Bed" />
    <axis xyz="0 0 1" />
    <limit lower="-0.6" upper="0" velocity="0.5" effort="5000"/>
  </joint> 

  <link name="Bed">
    <visual>
      <origin xyz="2 2 -0.056329" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://gazebo_simulation/meshes/visual/Bed_simple.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="oak"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="4.184 0.033 0.386658"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="100.0"/>
      <inertia ixx="10.0" iyy="10.0" izz="10.0" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <link name="bed_and_base">
    <visual>
      <origin xyz="-0.6 0.175 -0.056329" />
      <geometry>
        <box size="0.9 2.184 0.386658"/>      
      </geometry>
      <material name="oak"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="2.184 1.033 0.386658"/>      
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.005"/>
      <geometry>
        <box size="0.12 0.12 0.01"/>      
      </geometry>
      <material name="oak"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.005"/>
      <geometry>
        <box size="0.12 0.12 0.01"/>      
      </geometry>
    </collision>
    <inertial>
      <mass value="100.0"/>
      <origin xyz="-0.6 0.175 -0.056329" />
      <inertia ixx="10.0" iyy="10.0" izz="10.0" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <joint name = "Bed_robot_joint" type = "fixed">
    <origin xyz="0 0 0"/>
    <parent link = "Bed" />
    <child link = "bed_and_base" />
  </joint> 
  
  <link name="base_cylinder">
    <visual>
      <geometry>
        <cylinder length="0.88" radius="0.05"/>
      </geometry>
      <origin xyz="0 0 0.44"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.88" radius="0.05"/>
      </geometry>
      <origin xyz="0 0 0.44"/>
    </collision>
    <inertial>
      <mass value="17.5"/>
      <inertia ixx="1.14" ixy="0.0" ixz="0.0" iyy="1.14" iyz="0.0" izz="0.02"/>
    </inertial>
  </link>

  <joint name="base_rotation_joint" type="revolute">
    <parent link="bed_and_base"/>
    <child link="base_cylinder"/>
    <origin xyz="0 0 0.01"/>
    <axis xyz="0 0 1" />
    <limit effort="5000" lower="-3.141" upper="1.5708" velocity="0.5"/>
  </joint>

  <link name="arm_connection">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.051"/>
      </geometry>
      <origin xyz="0 0 0"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.051"/>
      </geometry>
      <origin xyz="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="2.9e-3" ixy="0.0" ixz="0.0" iyy="2.9e-3" iyz="0.0" izz="2.5e-3"/>
    </inertial>
  </link>

  <joint name="arm_height_joint" type="prismatic">
    <parent link="base_cylinder"/>
    <child link="arm_connection"/>
    <origin xyz="0 0 0.82" />
    <axis xyz="0 0 1" />
    <limit lower="-0.6" upper="0" velocity="0.5" effort="5000"/>
  </joint>

  <link name="arm_first_link">
    <visual>
      <geometry>
        <cylinder length="0.161204" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.080602"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.161204" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.080602"/>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="1.1e-3" ixy="0.0" ixz="0.0" iyy="1.1e-3" iyz="0.0" izz="1e-4"/>
    </inertial>
  </link>

  <joint name="arm_rotation_joint" type="revolute">
    <parent link="arm_connection"/>
    <child link="arm_first_link"/>
    <origin xyz="-0.05 0 0" rpy="0 -1.5708 0"/>
    <axis xyz="0 0 1" rpy="0 0 0"/>
    <limit lower="-1.5708" upper="0" velocity="0.5" effort="5000"/> 
  </joint>

  <link name="arm_second_link">
    <visual>
      <geometry>
        <cylinder length="0.34" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.02 0 0.15"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.34" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.02 0.15"/>
    </collision>
    <inertial>
      <mass value="1.1"/>
      <inertia ixx="11e-3" ixy="0.0" ixz="0.0" iyy="11e-3" iyz="0.0" izz="2.2e-4"/>
    </inertial>
  </link>

  <joint name="arm_first_joint" type="fixed">
    <parent link="arm_first_link"/>
    <child link="arm_second_link"/>
    <origin xyz="0 0 0.161204" rpy="0 -1.5708 0"/>
  </joint>

  <link name="arm_third_link">
    <visual>
      <geometry>
        <cylinder length="0.757988" radius="0.02"/>
      </geometry>
      <origin xyz="0 0 0.378994"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.757988" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.378994"/>
    </collision>
    <inertial>
      <mass value="2.4"/>
      <inertia ixx="0.115" ixy="0.0" ixz="0.0" iyy="0.115" iyz="0.0" izz="4.8e-4"/>
    </inertial>
  </link>

  <joint name="arm_second_joint" type="fixed">
    <parent link="arm_second_link"/>
    <child link="arm_third_link"/>
    <origin xyz="0.04 0 0.3" rpy="0 1.5708 0"/>
  </joint>

  


  -->

</robot>


